@layout MainLayout
@inject IJSRuntime JS
@inject IRepository repository
<style>
    .contenedor-est1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
</style>
<div class="contenedor-est1">
    <div>HOLA</div>
</div>
@code {

}