
@if (escriturapublica == null)
{
    <text>Cargando...</text>
}
else
{
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcStZDNDDRR1RX6_sgzVyX2FmiOkyldgwMFJgg&usqp=CAU"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin demo-mat-card-text">@escriturapublica.titulo</MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin demo-mat-card-text">@escriturapublica.notario</MatSubtitle2>
            </div>
            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin demo-mat-card-text">@escriturapublica.direccionoficio</MatBody2>
        </MatCardContent>
        <MatCardActions>
            <MatCardActionButtons>
                <MatButton Raised="true" Icon="@MatIconNames.Search" Class="mat-color" @onclick="(() => mostrarDatosEscrituraPublica.InvokeAsync(escriturapublica))">Consultar</MatButton>
            </MatCardActionButtons>
        </MatCardActions>
    </MatCard>
}

@code {
    [Parameter]
    public EscrituraPublicaRDTO escriturapublica { get; set; }
    [Parameter]
    public EventCallback<EscrituraPublicaRDTO> mostrarDatosEscrituraPublica { get; set; }
}
