@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    cursor: pointer;
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    width: 100vw;
    height: 100vh;
    display: block;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: rgb(32, 32, 32);
        border:none;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .side-bar-matblazor {
        height: 100%;
        background-color: rgb(66,66,66);
    }
    side-bar-header {
        text-align: center;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.85);
    }
     .bartext-color {
        color: rgb(224,224,224);
        font-size: 11px;
        font-weight: 500;
        opacity:0.87;
        font-family:sans-serif;
    }
    .sub-menu-arrow {
        color: rgb(224,224,224);
        height:24px;
        line-height:24px;
        font-size: 11px;
        font-weight: 500;
        opacity: 0.87;
        font-family: sans-serif;
    }
    .mat-expansion-panel__content li.mdc-nav-item:hover {
        background-color: rgb(24, 24, 24);
        border:none;
    }
    li.mdc-nav-item:hover {
        background-color: rgb(24, 24, 24);
        border-left: 6px solid #00bcd4;
    }
    li.mdc-nav-item:hover span{
        color: #00bcd4;
    }
    li.mdc-nav-item:hover .bar-side-icons-style{
        color: #00bcd4;
    }
    .sub-bartext-color {
        color: rgb(224,224,224);
        font-size: 11px;
        font-weight: 500;
        opacity: 0.87;
        font-family: sans-serif;
        margin-left:56px;
    }
    .nav-bar-color {
        background-color: rgb(32, 32, 32);
        
    }
    .bar-side-icons-style {
        margin: -3px 25px 0 23px;
        color: rgba(255, 255, 255, 0.56);
        font-size: 22px;
        width: 22px;
    }
    .profile-img {
        border-radius: 60px;
        max-width: 100%;
        height: auto;
    }
    .text-user-menu {
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        font-weight: 500;
        font-family: sans-serif;
    }
    .icons-style-user-menu {
        margin: -3px 16px 0 20px;
        color: rgba(255, 255, 255, 0.56);
        font-size: 22px;
        width: 22px;
    }
    .profile-card-menu {
        background-color: rgb(68, 68, 68);
        margin-top: 46px;
        box-shadow: rgba(0, 0, 0, 0.14)
    }

    .notification-avatar {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 16px;
        border-radius: 60px;
        background-color: rgba(0, 188, 212, 0.9);
        text-align: center
    }
    .notification-sender {
        display: block;
        font-size: 14px;
        color: rgb(255,255,255);
        font-family: sans-serif
    }
    .notificatio-summary {
        display: block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.54);
        font-family: sans-serif
    }
    .notification-card-menu {
        background-color: rgb(68, 68, 68);
        margin-top: 46px;
        box-shadow: rgba(0, 0, 0, 0.14)
    }

    .notification-item-style {
        padding: 16px,0px;
    }

    .notification-item-style:hover{
        background-color: #333;
    }

    li.profile-item-style {
        padding: 0px;
    }
    .profile-item-style:hover {
        padding: 0px;
        background-color:#333;
    }

    .profile-item-style:hover .icons-style-user-menu {
        color: #00bcd4;
    }
    .profile-item-style:hover .text-user-menu {
        color: #00bcd4;
    }
    .bar-menu-item-container {
        height:32px;
        width:32px;
        border-radius:50%;
        text-align:center;
        margin-left:10px;
    }
    .bar-menu-item-container:hover {
        background-color: #000000
    }
    .bar-menu-item-icon {
        cursor: pointer;
        border-radius:50%;
        color: rgba(255, 255, 255, 0.54);
        margin:0 auto;
        padding-top:3px;
        }
    div.bar-menu-user-shrink {
        display: inline-block;
        background-color: rgb(32,32,32);
        box-shadow: none;
        height:inherit;
        padding:12px;
        cursor: pointer;
        margin-left:10px;
        border-radius:0px
    }
    div.bar-menu-user-shrink:hover {
        background-color: #000000;
    }

    div.more-items {
        background-color: #666;
        margin-top: 56px
    }
    li.more-item{
        width:inherit;
    }
    li.more-item:hover {
        background-color: #444;
    }
    
    
}



