/*.message {
    width: 30%;
    background-color: lightblue;
    height: 100px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: Consolas;
    letter-spacing: 5px;
    color: transparent;
}
.message:before {
   content: attr(data-text);
   position: fixed;
   left: 10px;
   width: 30%;
   height: 20px;
   color: #000;
   overflow: hidden;
   border-right: 1px solid #000;
   animation: type 10s steps(17) infinite;
   white-space: nowrap;
}

@keyframes type {
    0% {
        width: 0;
    }
    50% {
        width: 30%;
    }
    100% {
        width: 0;
    }
}*/

.user-bubble {
    display: flex;
}

.user {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.message {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: lightblue;
    height: 115px;
    position: fixed;
    bottom: 30px;
    left: 60px;
    border-radius: 15px;
    opacity: 1;
    transition: 300ms all;
}

.message-none {
    opacity: 0;
    display: none;
    transition: 300ms all;
}

.message h1 {
        font-size: 15px !important;
        color: #222 !important;
        font-weight: bolder;
}

.typing {
    margin-left: 1px;
    font-weight: bolder;
}

.bubble {
    padding: 15px;
}

.bubble:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        margin-left: -30px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 15px solid lightblue;
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    border-right: 2px solid #222;
    animation: blink 0.5s infinite ease;
}

@keyframes blink
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.message-audio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.message-audio button {
    margin-top: 0px;
    color: black !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.message-audio button i {
      color: black !important;
}