<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" 
                            DefaultLayout="@typeof(EmptyLayout)">
            <Authorizing>
                <h3>Autenticando Usuario</h3>
            </Authorizing>
            <NotAuthorized>
                <SISGED.Client.Pages.LoginTemplate></SISGED.Client.Pages.LoginTemplate>
            </NotAuthorized>
            </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Lo sentimos, no hemos podido encontrar la Ruta Especificada=> Error 404</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
