@using SISGED.Client.Pages.Samples.WorkEnvironment.WindowItemContent
<style>
    .window {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1a1a1a;
        border: none;
        text-align: center;
        color: black;
        width: inherit;
        flex-basis: 100%;
    }
    .default-title-style {
        display: block;
        color: #808080;
    }
    

</style>
<div class="window">

    @if (ChildContent != null)
    {
        @ChildContent
    
    }
    else
    {
        <h4 class="default-title-style">Arrastre una herramienta al espacio de trabajo</h4>
    }

</div>


@code {
    //[CascadingParameter] public WorkEnvironment workSpace { get; set; }
    [Parameter] public Tool itemArrastrado { get; set; }
    public RenderFragment ChildContent = null;
    [CascadingParameter] WorkEnvironment workspace { get; set; }
    protected override void OnInitialized()
    {

    }
    protected override void OnParametersSet()
    {
        Console.WriteLine("WINDOW TOOL: OnParameterSet()");
        if (itemArrastrado != null)
        {
            Console.WriteLine("valor encontrado y actualizando");
            if(itemArrastrado.nombre == "Busqueda")
            {
                ChildContent = @<ContenidoPrueba></ContenidoPrueba>;
            }
            else if(itemArrastrado.nombre == "Registrar Documento")
            {
                ChildContent = @<EntornoDocumento></EntornoDocumento>;
            }
            else
            {
                ChildContent = @<ContenidoPrueba2></ContenidoPrueba2>;
            }
            StateHasChanged();
        }
        else
        {
            ChildContent = null;
        }

    }

    public object GetInstanceFromString(string classname)
    {
        Type type = Type.GetType(classname);
        return Activator.CreateInstance(type);
    }
}
