@page "/visualizarAgenda"
@layout MainLayout
<style>
    .estilo1 {
        color: white;
        font-size: 45px;
    }
</style>
<h3 class="estilo1">Aqui va el Visualizar Agenda de Fernanada</h3>

@code {

}
