@page "/"
@inject HttpClient Http
@inject IRepository  repository
@attribute [Authorize(Roles = "admin,tramitedocumentario")]
@layout MainLayout
<style>
    * {
        color: white
    }
    h1 {
        color: white;
    }
</style>
<h1>Aqui la va a poner colombo</h1>
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var usuario = authState.User;
        if (usuario.Identity.IsAuthenticated)
        {
            Console.WriteLine("Usuario autenticado");
        }
        else
        {
            Console.WriteLine("Usuario NO autenticado");
        }
    }
}
