@page "/procesamientopago"
@inject IRepository repository
@inject NavigationManager navigationManager
@using SISGED.Shared
@using Microsoft.AspNetCore.WebUtilities
<link rel="stylesheet" href="css/processing.css" />

<div id="preloader" style="display:@(Gif ? "block" : "none")">
    <div id="loader"></div>
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%">

    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="center" valign="top" style="padding: 36px 24px;">
                        <a href="#" target="_blank" style="display: inline-block;">
                            <img src="https://colegionotariosancash.com/wp-content/uploads/logo.png" alt="Logo" border="0" height="104" width="360" style="display: block; width: 360px; max-width: 360px; min-width: 240px;">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="left" bgcolor="black" style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf; text-align:center">
                        <h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Estado de Transacción</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="left" bgcolor="black" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
                        <p>Estimado Usuario:</p>
                        <p style="margin: 0;">
                            Les notificamos que el procesamiento de su transacción ha sido @(estado_retornado.ToUpper()). 
                        </p>
                        <p>
                            <ApprovedDeniedSample tipo="@estado_retornado" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" bgcolor="black">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" bgcolor="black" style="padding: 12px;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" bgcolor="#1a82e2" style="border-radius: 6px;">
                                                <a href="http://localhost:44389/login" style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;">Redirigirse al Solicitudes</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" bgcolor="black" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
                        <p style="margin: 0;">Saludos,<br> Colegio de Notarios de Lima</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 24px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

                <tr>
                    <td align="center" style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
                        <p style="margin: 0;">El proceso de pago NO es parte del Colegio de Notarios de Lima, nosotros no guardamos ninguna información de método de pago.</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">

                        <p style="margin: 0;">Colegio de Notarios de Lima: Av. Gregorio Escobedo 343, Jesús María 15072, Lima, Perú</p>
                        <p style="margin: 0;">Telefono: 3190700</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

@code {
    bool Gif;
    string estado_retornado;
    System.Uri uri;

    protected override void OnInitialized()
    {
        Gif = true;
        //Paso1: Leer url
        uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        //Paso2: Try leer estado
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("collection_status", out var estado))
        {
            estado_retornado = estado.ToString();
            //Paso3: If aprobadi, hacer logica buena
            if (estado.ToString() == "approved")
            {
                QueryHelpers.ParseQuery(uri.Query).TryGetValue("external_reference", out var referencia);
                QueryHelpers.ParseQuery(uri.Query).TryGetValue("payment_type", out var payment_type);
                MercadoPagoResponse mercadoPago = new MercadoPagoResponse
                {
                    estado = estado.ToString(),
                    referencia = referencia.ToString(),
                    tipopago = payment_type.ToString()
                };
                Gif = false;
            }
        }
        else
        {
            //Rechazado papi
            Gif = false;
        }
    }
}
