<style>
    .div-form {
        background-color: #F3F3F3 !important;
        flex-basis: 100%;
        border-radius: 15px 15px 15px 15px;
        width: 100%;
    }
</style>
<div class="div-form">
    <h3>RegistrarSolicitudBPN</h3>
</div>
@code {

}
