<style>
    .div-form {
        background-color: #a6a6a6;
        flex-basis: 100%;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
    }
</style>
<div class="div-form">
    <h3>RegistrarDictamen</h3>
</div>
    @code {

    }
