@inject IJSRuntime js
@using SISGED.Client.Pages.Samples.WorkEnvironment
@using Newtonsoft.Json

<MatButton Raised="true" OnClick="@GenerarPDF"> Generar OficioBPN</MatButton>
@if (generado)
{
<iframe id="pdf_preview" type="application/pdf" src="" width="800" height="400">
</iframe>
} 
<div id="target" style="display: none">
    <h1>@oficio.titulo</h1>
    <h2>Descripción: </h2>
    <p>@oficio.descripcion</p>
    <h2>Dirección de Oficio: </h2>
    <p>@oficio.direccionoficio</p>
   
</div>
@code {
    [CascadingParameter] WorkEnvironment workspace { get; set; }
    private ContenidoOficioBPN oficio { get; set; }
    private bool generado = false;
    private async Task GenerarPDF()
    {
        await js.InvokeVoidAsync("gPDF");
        generado = true;
    }
    protected override void OnInitialized()
    {
        oficio = JsonConvert.DeserializeObject<ContenidoOficioBPN>(workspace.expedienteseleccionado.documento.contenido.ToString());
        Console.WriteLine(oficio.titulo);
    }
    //    doc.save('conversion.pdf');
}
